#signupForm button {
  width: 100%;
}

#signupForm {
  background-color: #c5e1a5;
  border: 5px double #a383fa;
  margin: auto;
  padding: 20px;
  margin-top: 200px;
  border-radius: 15px;
  width: 350px;
}
